# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\MavenWorkspace\08-SpringBoot-00-starter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
